* {
  margin: 0;
  padding: 0;
}

body {
  background-color: cornflowerblue;
}

.notfound404 {
  display: grid;
  place-items: center;
  height: 100vh;

  color: azure;
  font-size: 10vw;

  animation: tt 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes tt {
  0% {
    transform: translateY(0);
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    transform: translateY(-50px);
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc,
      0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc,
      0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
